In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt 
from io import StringIO

In [2]:
h1_path = 'h1_Employer_Information.csv'
h2a_path = 'h2_employer_information.csv'
h2b_path = 'h2b_employer_information.csv'

#Had to convert all encoding to UTF8 via notepad++
def read_tsv(file_path):
    with open(file_path, "r", encoding="utf-8") as f:
        return pd.read_csv(StringIO(f.read()), delimiter="\t")

# Read all files using the function
df_h1 = read_tsv(h1_path)
df_h2a = read_tsv(h2a_path)
df_h2b = read_tsv(h2b_path)

In [3]:
df_h1 = df_h1.set_index('Fiscal Year   ')
df_h1.index.name = 'Fiscal Year'

In [4]:
df_h1 = df_h1[['Petitioner City', 'Petitioner State', 'Petitioner Zip Code', 'Initial Approval', 'Continuing Approval']]

In [5]:
df_h1.rename(columns={'Petitioner City': 'city', 'Petitioner State': 'state', 'Petitioner Zip Code': 'zip'}, inplace=True)

In [6]:
df_h1 = df_h1[(df_h1['Initial Approval'] != '0') & (df_h1['Continuing Approval'] != '0')]
df_h1 = df_h1.drop(columns=['Initial Approval', 'Continuing Approval'])
df_h1.head()

                   city state      zip
Fiscal Year
2024            JERICHO    NY  11753.0
2024          FORT MILL    SC  29708.0
2024         LEWISVILLE    TX  75067.0
2024             AUBURN    AL  36832.0
2024             NOVATO    CA  94949.0

In [7]:
df_h2a = df_h2a.set_index('Action Fiscal Year')
df_h2a.index.name = 'Fiscal Year'
df_h2a.head()

,Index(),Employer (Petitioner) Name,Tax ID,Industry,Occupation (SOC) Code,Petitioner City,Petitioner State,Petitioner Zip Code,Worksite State,Consular_processed,...,Continuation Approval,Continuation Denial,Change with Same Employer Approval,Change with Same Employer Denial,New Concurrent Approval,New Concurrent Denial,Change of Employer Approval,Change of Employer Denial,Amended Approval,Amended Denial
Fiscal Year,,,,,,,,,,,,,,,,,,,,,
2024,1,1 DOG VENTURES LLC,1789.0,"11 - Agriculture, Forestry, Fishing and Hunting","45 - Farming, Fishing, and Forestry Occupations",CARTHAGE,NC,28327.0,GA,Yes,...,0,0,0,0,0,0,0,0,0,0
2024,2,1M LLC,4729.0,"11 - Agriculture, Forestry, Fishing and Hunting","45 - Farming, Fishing, and Forestry Occupations",SEVIERVILLE,TN,37862.0,IA,No,...,0,0,0,0,0,0,1,0,0,0
2024,3,1M LLC,4729.0,"11 - Agriculture, Forestry, Fishing and Hunting","45 - Farming, Fishing, and Forestry Occupations",SEVIERVILLE,TN,37862.0,IA,No,...,0,0,2,0,0,0,1,0,0,0
2024,4,1M LLC,4729.0,"11 - Agriculture, Forestry, Fishing and Hunting","45 - Farming, Fishing, and Forestry Occupations",SEVIERVILLE,TN,37862.0,IA,Yes,...,0,0,0,0,0,0,0,0,0,0
2024,5,1M LLC,4729.0,"11 - Agriculture, Forestry, Fishing and Hunting","45 - Farming, Fishing, and Forestry Occupations",SEVIERVILLE,TN,37862.0,IA,Yes,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df_h2a = df_h2a[[
    'Industry','Petitioner City', 'Petitioner State', 'Petitioner Zip Code', 'Worksite State', 
    'Wage Rate Band', 'New Employment Approval', 'Continuation Approval', 
    'Change with Same Employer Approval', 'New Concurrent Approval', 'Change of Employer Approval', 'Amended Approval']]

In [9]:
cols = ['New Employment Approval', 'Continuation Approval', 
        'Change with Same Employer Approval', 'New Concurrent Approval', 
        'Change of Employer Approval', 'Amended Approval']  # List of columns to check
df_h2a = df_h2a.loc[~(df_h2a[cols] == '0').all(axis=1)]
df_h2a = df_h2a.drop(columns = ['New Employment Approval', 'Continuation Approval', 
        'Change with Same Employer Approval', 'New Concurrent Approval', 
        'Change of Employer Approval', 'Amended Approval'])

In [10]:
df_h2a.rename(columns={'Industry':'industry', 'Petitioner City': 'city', 'Petitioner State': 'state', 'Petitioner Zip Code': 'zip', 
                       'Worksite State': 'workState', 'Wage Rate Band': 'wage'}, inplace=True)
df_h2a.head()

,industry,city,state,zip,workState,wage
Fiscal Year,,,,,,
2024,"11 - Agriculture, Forestry, Fishing and Hunting",CARTHAGE,NC,28327.0,GA,$14.00 - $15.99
2024,"11 - Agriculture, Forestry, Fishing and Hunting",SEVIERVILLE,TN,37862.0,IA,$16.00 - $17.99
2024,"11 - Agriculture, Forestry, Fishing and Hunting",SEVIERVILLE,TN,37862.0,IA,$20.00 and more
2024,"11 - Agriculture, Forestry, Fishing and Hunting",SEVIERVILLE,TN,37862.0,IA,$16.00 - $17.99
2024,"11 - Agriculture, Forestry, Fishing and Hunting",SEVIERVILLE,TN,37862.0,IA,$20.00 and more

In [11]:
df_h2b = df_h2b.set_index('Cap Fiscal Year')
df_h2b.index.name = 'Fiscal Year'

In [12]:
df_h2b = df_h2b[[
    'Industry (NAICS) Code', 'Occupation (SOC) Code','Petitioner City', 'Petitioner State', 'Petitioner Zip Code', 'Work Site State', 
    'Hourly Wage', 'New Employment Approval', 'Continuation Approval', 
    'Change with Same Employer Approval', 'New Concurrent Approval', 'Change of Employer Approval', 'Amended Approval']]
df_h2b.head()

,Industry (NAICS) Code,Occupation (SOC) Code,Petitioner City,Petitioner State,Petitioner Zip Code,Work Site State,Hourly Wage,New Employment Approval,Continuation Approval,Change with Same Employer Approval,New Concurrent Approval,Change of Employer Approval,Amended Approval
Fiscal Year,,,,,,,,,,,,,
2025,56 - Administrative and Support and Waste Mana...,37 - Building and Grounds Cleaning and Mainten...,Mount Pleasant,SC,29464.0,SC,$16.00 - $17.99,4.0,0.0,0.0,0.0,0.0,0.0
2025,23 - Construction,47 - Construction and Extraction Occupations,Spring Hill,KS,66083.0,KS,$20.00 and more,4.0,0.0,0.0,0.0,0.0,0.0
2025,56 - Administrative and Support and Waste Mana...,47 - Construction and Extraction Occupations,Gansevoort,NY,12831.0,NY,$20.00 and more,5.0,0.0,0.0,0.0,0.0,0.0
2025,"71 - Arts, Entertainment, and Recreation",39 - Personal Care and Service Occupations,Casa Grande,AZ,85193.0,AZ,$16.00 - $17.99,10.0,0.0,0.0,0.0,0.0,0.0
2025,56 - Administrative and Support and Waste Mana...,37 - Building and Grounds Cleaning and Mainten...,Helotes,TX,78023.0,TX,$16.00 - $17.99,10.0,0.0,0.0,0.0,0.0,0.0

In [30]:
df_h2b = df_h2b.drop(columns = ['New Employment Approval', 'Continuation Approval', 
        'Change with Same Employer Approval', 'New Concurrent Approval', 
        'Change of Employer Approval', 'Amended Approval'])

In [32]:
df_h2b.rename(columns={'Industry (NAICS) Code':'industry', 'Occupation (SOC) Code' : 'occupation', 'Petitioner City': 'city', 'Petitioner State': 'state', 'Petitioner Zip Code': 'zip', 
                       'Work Site State': 'workState', 'Hourly Wage': 'wage'}, inplace=True)

In [34]:
df_h2b.head()

,industry,occupation,city,state,zip,workState,wage
Fiscal Year,,,,,,,
2025,56 - Administrative and Support and Waste Mana...,37 - Building and Grounds Cleaning and Mainten...,Mount Pleasant,SC,29464.0,SC,$16.00 - $17.99
2025,23 - Construction,47 - Construction and Extraction Occupations,Spring Hill,KS,66083.0,KS,$20.00 and more
2025,56 - Administrative and Support and Waste Mana...,47 - Construction and Extraction Occupations,Gansevoort,NY,12831.0,NY,$20.00 and more
2025,"71 - Arts, Entertainment, and Recreation",39 - Personal Care and Service Occupations,Casa Grande,AZ,85193.0,AZ,$16.00 - $17.99
2025,56 - Administrative and Support and Waste Mana...,37 - Building and Grounds Cleaning and Mainten...,Helotes,TX,78023.0,TX,$16.00 - $17.99

In [36]:
df_h1['type'] = 'h1'
df_h2a['type'] = 'h2a'
df_h2b['type'] = 'h2b'

In [40]:
frames = [df_h1, df_h2a, df_h2b]
df_visas = pd.concat(frames)
df_visas

,city,state,zip,type,industry,workState,wage,occupation
Fiscal Year,,,,,,,,
2024,JERICHO,NY,11753.0,h1,NaN,NaN,NaN,NaN
2024,FORT MILL,SC,29708.0,h1,NaN,NaN,NaN,NaN
2024,LEWISVILLE,TX,75067.0,h1,NaN,NaN,NaN,NaN
2024,AUBURN,AL,36832.0,h1,NaN,NaN,NaN,NaN
2024,NOVATO,CA,94949.0,h1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2025,Ogden,UT,84404.0,h2b,56 - Administrative and Support and Waste Mana...,UT,$16.00 - $17.99,37 - Building and Grounds Cleaning and Mainten...
2025,NaN,NaN,NaN,h2b,72 - Accommodation and Food Services,MT,$18.00 - $19.99,35 - Food Preparation and Serving Related Occu...
2025,NaN,NaN,NaN,h2b,72 - Accommodation and Food Services,MT,$18.00 - $19.99,37 - Building and Grounds Cleaning and Mainten...
2025,Big Sky,MT,59716.0,h2b,72 - Accommodation and Food Services,MT,$18.00 - $19.99,37 - Building and Grounds Cleaning and Mainten...
2025,Big Sky,MT,59716.0,h2b,72 - Accommodation and Food Services,MT,$20.00 and more,37 - Building and Grounds Cleaning and Mainten...

In [44]:
df_visas.to_csv('clean_visas.csv')